<p id="container-working-space">
    <span id="timer-and-scramble" class="big-container">
        <button (click)="nextCase()">Next case</button>
        @if(lastCase().name.length>0){
        <button (click)="removeLastCase()">Remove last case</button>
        }

        <p id="scramble">
            {{currentScramble()}}
        </p>

        <p id="timer-container">
            <span class="timer" id="focus-here" #focusHere (keydown)="timerPressed($event)"
                (keyup)="timerReleased($event)" [class.timer-starting]="isTimerStarting()" tabindex="1">
                {{currentTime() | number: '1.2-2'}}
            </span>

            @if(isTimerSplitOn()){
            <span id="timer-splits-container">
                <span class="recon-exec">Recognition: {{currentTimeSplit() | number: '1.2-2'}} </span>
                <span class="recon-exec">Execution: {{currentTime() - currentTimeSplit() | number: '1.2-2'}}</span>
            </span>
            }
        </p>

        <input type="checkbox" [(ngModel)]="isRemovingFastCases" (change)="setFocus()" name="remove-fast-cases"
            id="remove-fast-cases-input" />
        <label for="remove-fast-cases-input">
            Automatically remove cases faster than
            <input type="text" [(ngModel)]="fastCaseTime" name="fast-case-time" id="fast-case-time-input">
            <label for="fast-case-time-input">s</label>
        </label>

        <br>
        <input type="checkbox" [(ngModel)]="isTimerSplitOn" (change)="setFocus()" name="split-timer-checkbox"
            id="split-timer-checkbox" />
        <label for="split-timer-checkbox"> Add recognition timer split</label>

        <br>
        <input type="checkbox" [(ngModel)]="showSolution" (change)="setFocus()" name="show-solution-checkbox"
            id="show-solution-checkbox" />
        <label for="show-solution-checkbox"> Show current case solution</label>

    </span>

    <span id="current-and-last-case" class="big-container">
        <span id="container-current-case" class="big-container">
            <p class="case-name">
                Current case: {{currentCase().name}}
            </p>

            <img [src]="getImgPath(currentCase())" alt="no img available" id="current-case-img" />

            @if(showSolution()){
            <p class="case-solution">
                Solution: {{currentCase().solutions[0]}}
            </p>
            }

        </span>

        @if (lastCase().name.length > 0) {
        <span id="container-last-case" class="big-container">
            <p class="case-name">
                Last case: {{lastCase().name}}
                @if(isLastCaseRemoved()){
                (removed)
                <button (click)="reSelectLastCase()" id="reselect-button">Back</button>
                }
                <!-- + (isLastCaseRemoved() ? " (removed)" : "") -->
            </p>

            <p id="last-case-scramble">
                Scramble: {{lastCase().scrambles[0]}}
            </p>

            <img [src]="getImgPath(lastCase())" alt="no img available" id="last-case-img" />

            <p class="case-solution">
                Solution: {{lastCase().solutions[0]}}
            </p>

        </span>
        }
    </span>
</p>

<span id="container-other-info" class="big-container">
    <p>
        {{cases().length}}
        @if(cases().length > 1){
        <span>
            cases
        </span>
        }
        @else{
        <span>
            case
        </span>
        }
        left
    </p>

    @switch(showRemainingCases()){

    @case(onlyNames){
    <p>{{remainingCasesNamesList()}}</p>
    }
    @case(onlyImgs){
    @for(ccase of cases(); track ccase.name){
    <span>
        <img [src]="getImgPath(ccase)" alt="no img available" class="remaining-case-img" />
    </span>
    }
    }
    @case(bothImgsNames){
        <app-unselectable-case-shower [cases]="cases()"/>
    }
    }

    <p>
        <label for="showRemainingCases">Show remaining cases: </label>
        <select name="showRemainingCases" id="show-remaining-cases" (change)="onSelectShowRemainingCases($event)">
            <option [value]="onlyNames">Names</option>
            <option [value]="onlyImgs">Images</option>
            <option [value]="bothImgsNames">Both</option>
            <option [value]="noneImgsNames">None</option>
        </select>
    </p>
</span>