.scramble{
    font-size: x-large;
}

.timer {
    font-size: 100px;
}

#focus-here {
    background-color: aliceblue;
}

#focus-here:focus {
    color: green;
}

.case-solution{
    font-size: larger;
}