#container-working-space {
    display: flex;
}

.big-container {
    padding: 5px;
    border: solid black 2px;
    display: block;
}

#timer-container {
    display: flex;
}

#timer-and-scramble {
    flex: 5;
}

#scramble {
    font-size: calc(var(--my-text-size) * 1.5);
}

#current-and-last-case {
    flex: 4;
}

.timer {
    font-size: 100px;
}

.timer-starting {
    color: green;
}

#focus-here {
    background-color: aliceblue;
}

#timer-splits-container {
    display: block;
    padding: 5px;
    align-content: space-around;
}

.recon-exec {
    padding: 10px;
    display: block;
}

#fast-case-time-input {
    width: 4ch;
}

.case-name {
    font-size: var(--my-subtitle-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;
}

#current-case-img {
    width: 180px;
}

#last-case-img {
    width: 150px;
}

#reselect-button {
    margin-top: 0;
    margin-bottom: 0;
}

#container-other-info {
    display: block;
}

.remaining-case-img {
    width: 60px;
    // height: ;
}

.container-remaining-cases-list-names-and-img {
    display: flex;
}

.remaining-case-img-and-name-box {
    display: block;
    background-color: rebeccapurple;
    width: 62px;
    height: 80px;
}