.subset-container {
    border: solid;
    border-width: 5px;
    border-color: crimson;

    display: flex;
    flex-wrap: wrap;

    margin: 8px;
    padding: 4px;
}

.subset-selected {
    background-color: yellow;
}

.hide-show-arrow-img {
    width: 25px;

    padding: 5px;
}

.subset-header {
    text-align: center;
    width: 100%;
}

.subset-name {
    font-size: calc(var(--my-subtitle-size) * 1.2);
    cursor: pointer;
}

.toggle-sets {
    float: right;
    cursor: pointer;
    user-select: none;
}

.sets-container {
    display: flex;
    flex-wrap: wrap;
}