.subset-container {

    border: solid;
    border-width: 5px;
    border-color: red;

    display: flex;
    flex-wrap: wrap;
}

.subset-selected {
    background-color: yellow;
}

.hide-show-arrow-img {
    width: 25px;

    padding: 5px;
}

.subset-header {
    text-align: center;
    width: 100%;
}

.subset-name {
    font-size: xx-large;
    cursor: pointer;
}

.toggle-sets {
    float: right;
    cursor: pointer;
    user-select: none;
}

.sets-container {

    // border: solid;
    // border-width: 5px;
    // border-color: red;

    display: flex;
    flex-wrap: wrap;
}