$img-width-height: 60px;

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: block;
    justify-content: center;
    border: 1px solid black;

    margin: 1px;
    padding: 1px;
}

img {
    width: $img-width-height;
    height: $img-width-height;
    border-radius: inherit;
}

.name {
    text-align: center;
    // display: block;
    margin-top: -6px;
}