.set-container {
    display: block;
    width: fit-content;
    justify-content: center;
    // align-items: center;

    border: 2px solid black;
    border-radius: 5px;
    
}

.set-name{
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--my-subtitle-size);

    cursor: pointer;
}

.cases-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 5px;

}