.end-train-button {
    border-color: red;
}

.end-train-button:hover {
    background-color: rgba($color: #FF0000, $alpha: 0.3);
}

#container-OPLLs-tabs {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: purple;
    height: calc(var(--my-subtitle-size) * 2);


    padding: 0px 10px;
}

.tab {
    border: 2px solid black;
    margin: 4px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;

    width: 30vw;
    text-align: center;

    cursor: pointer;
    transition: all .06s;
}

.selected-tab {
    border: 5px solid black;
    margin: 1px;
    width: 60vw;

    font-weight: bold;
}

#container-selection{
    padding: 100px;
    background-color: aqua;
}