.position-top-right{
    position: absolute;
    top: 2%;
    right: 2%;
}

#expanded-info{
    width: 70vw;
    background: rgba(230, 230, 245, .98);
    padding: 10px;
}


#training-button {
    font-size: var(--my-subtitle-size);
}

.end-train-button {
    border-color: red;
}

.end-train-button:hover {
    background-color: rgba($color: #FF0000, $alpha: 0.3);
}

#container-OPLLs-tabs {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;


    background-color: aliceblue;
    height: calc(var(--my-subtitle-size) * 2);


    padding: 5px 10px;
}

.tab {
    border: 2px solid darkblue;
    margin: 4px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    font-size: calc(var(--my-subtitle-size) / 1.5);

    width: 40vw;
    text-align: center;

    cursor: pointer;
    transition: all .1s;
}

.selected-tab {
    border-width: 5px;
    margin: 1px;
    width: 50vw;
    font-size: var(--my-subtitle-size);

    background-color: cyan;
    font-weight: bold;
}

#container-selection {
    padding: 100px;
    background-color: aqua;
}