<span class="generic">
    
    <button (click)="onClick()">Train</button>

    @if (isTraining()) {
        <app-trainer [cases]="trainingCases()"/>
    }
    @else{
        <span class="container">
            
            <span class="tab" [class.selected]="isOLLSelected()" (click)="OLLClicked()">OLL</span>
            <span class="tab" [class.selected]="!isOLLSelected()" (click)="PLLClicked()">PLL</span>
            
        </span>
        
        @if(isOLLSelected()){
            <app-sub-set-selector [OLLsPLLs]="OLLs()" />
        }@else{
            <app-sub-set-selector [OLLsPLLs]="PLLs()" />
        }
    }
    
</span>